<div class="modal-header">
  Edit Item
  <i class="fa fa-close close" />
</div>

<div class="modal-body">
  <div class="modal-body-left">
    <ul>
      <li><span>Name: </span>{{name}}</li>
      <li><span>SKU: </span>{{sku}}</li>
      <li><span>Category: </span>{{category}}</li>
      <li><span>Quantity: </span>{{quantity}}</li>
    </ul>
  </div>

  <div class="modal-body-right">
    <form action="/api/items/{{id}}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="patch">
      <input type="file" id="image-input" name="image">
      <label for="image-input">
        <i class="fa fa-image" />
      </label>
      <input type="submit" value="upload">
    </form>
  </div>
</div>

<div class="modal-footer">
</div>
