<!--<div class="database-row">-->
    <div class="database-item-col">
      {{{itemCellContents sku "SKU"}}}
    </div>
    <div class="database-item-col">
      {{{itemCellContents name "Name"}}}
    </div>
    <div class="database-item-col">
      {{{itemCellContents category "Category"}}}
    </div>
    <div class="database-item-col">
      {{{itemCellContents quantity "Quantity"}}}
      {{{saveCheckMark state}}}
    </div>
<!--</div>-->
