<!--<div class="database-row">-->
    <div class="database-item-col">
      {{{itemCellContents sku "SKU"}}}
    </div>
    <div class="database-item-col">
      {{{itemCellContents name "Name"}}}
    </div>
    <div class="database-item-col">
      {{{itemCellContents category "Category"}}}
    </div>
    <div class="database-item-col">
      {{{itemCellContents quantity "Quantity"}}}
      {{!-- {{sku is used to check whether or not the item is in a saved state}} --}}
      {{{saveCheckMark sku}}}
    </div>
<!--</div>-->
