  <div class="two grid columns">
    <div class="two content columns">
      <img src="{{Items.[0].image_url}}" />
    </div>
    <div class="two content columns">
      <img src="{{Items.[1].image_url}}" />
    </div>
  </div>

  <div class="two grid columns">
    <div class="three content rows"><img src="{{Items.[2].image_url}}" /></div>
    <div class="three content rows"><img src="{{Items.[3].image_url}}" /></div>
    <div class="three content rows"><img src="{{Items.[4].image_url}}" /></div>
  </div>
