  <div class="two grid columns">
    <div class="two content columns">
      <img src="{{image_url}}" />
    </div>
    <div class="two content columns">
      <img src="{{image_url}}" />
    </div>
  </div>

  <div class="two grid columns">
    <div class="three content rows"><image src="{{image_url}}" /></div>
    <div class="three content rows"><image src="{{image_url}}" /></div>
    <div class="three content rows"><image src="{{image_url}}" /></div>
  </div>
